.button {
  padding: 9px;
  background-color: rgb(87, 55, 228);
  color: rgb(243, 238, 238);
  border: none;
  border-radius: 8px;
  font-size: 1cap;
  cursor: auto;
}
.button:hover {
  background-color: rgb(22, 22, 110);
}

.rounded {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
