.main {
  display: block;
  text-align: center;
}

.purple {
  color: blueviolet;
}

.small {
  font-size: medium;
  color: rgb(115, 128, 128);
}
.search {
  color: brown;
}

input {
  border-radius: 20px;
  padding: 10px;
}

.button {
  padding: 10px;
  background-color: #5a3cac;
  color: rgb(110, 86, 86);
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.inputSection {
  display: flex;

  justify-content: center;
}

.box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
