.main {
  display: block;
  text-align: center;
}

.purple {
  color: blueviolet;
}

.small {
  font-size: medium;
  color: rgb(115, 128, 128);
}
.search {
  color: brown;
}

input {
  border-radius: 20px;
  padding: 10px;
  border-color: rgb(157, 157, 213);
}

.inputSection {
  display: flex;

  justify-content: center;
}

.box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
  }
}
