.App {
  text-align: justify;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-link {
  color: #61dafb;
  font-weight: 500;
  font-size: 1.2 rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 10%;
  padding: 10px;
  background-color: #2e1d5c;
  color: rgb(243, 210, 210);
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
